.NavBar a, .NavBar button {
	margin: 0 5px;
	padding-bottom: 10px;
	cursor: pointer;
	color: whitesmoke;
	
}

.NavBar {
	/* background-image: url("../src/jeopardyLogo.jpg");
    background-repeat: no-repeat; */
	/* border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #fbb034, #ffdd00); */
}