body {
    padding: 0;
    background-color: rgb(23, 22, 22);
    border-style: solid;
    /* border-radius: 20px; */
    border-width: 1em;
    border-color: blueviolet;
}

.container div div  {
    width: 100%;
    border-style: solid;
    border-color: hotpink;
}

/* .boardContainer {
    
    width: 100%;
} */

h2, h3 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

h2 {
    color: white;
}

.playerNumBtn {
    background: gold;
    border: none;
}

.playerNumBtn:hover {
    background: rgb(26, 23, 168);
    border: none;
}

.endGameBtn {
    background: gold;
    border: none;
    font-size: 20px;
}

.endGameBtn:hover {
    background: red;
    border: none;
}

th {
    color: white;
}

td {
    color: white;
}

.leaderboardHeading {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
}



