.catCard {
    background-image: linear-gradient(blue, indigo);
    height: 7em;
    width: 5em;
    padding: .1em;
    border-style: solid;
    border-color: rgb(0, 5, 112);
    /* border-width: 8px; */
    background-color: rgb(0, 12, 153);
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    color: whitesmoke;
}

.catBox {
    font-size-: 80%;
}
/* .catBox {
   flex-direction: row;
    width: 7em;
    height: 7em;
    box-sizing: border-box;
} */

