.card {
    display: flex;
    align-items: stretch;
}

.catCard {
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(blue, indigo); */
    background: transparent;
    word-wrap: break-word;
    /* font-size: ; */
    /* height: 7em; */
    width: 5em;
    height: 100%;
    padding: .1em;
    border-style: solid;
    /* border-color: greenyellow; */
    /* border-width: 8px; */
    /* background-color: rgb(0, 12, 153); */
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    color: whitesmoke;
    overflow: auto;
}

/* .catBox {
   flex-direction: row;
    width: 7em;
    height: 7em;
    box-sizing: border-box;
} */

