.catCol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.catCard {
    /* height: 7.5em;
    width: 8em;
    padding: .3em; */
    border-style: solid;
    /* border-width: 8px; */
    border-color: black;
    
    /* font-weight: bold; */
    background-color: rgb(2, 27, 76);
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: .7rem;
    font-weight: bold;
    text-transform: uppercase;
}

