.catCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    word-wrap: break-word;
    width: 7em;
    height: 10em;
    padding: .1em;
    border-style: solid;
    border-color: whitesmoke;
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    overflow: auto;
}

