.catCard {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
    width: 7em;
    height: 10em;
    padding: .1em;
    border-style: solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, rgb(26, 24, 100), rgb(48, 33, 90), rgb(131, 43, 73), rgb(229, 136, 99));
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    overflow: auto;
   
}
