.catCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background: transparent; */
    word-wrap: break-word;
    width: 7em;
    height: 10em;
    padding: .1em;
    /* border-style: solid; */
    /* border-color: whitesmoke; */
    font-family: 'Lexend', sans-serif;
    text-transform: uppercase;
    /* background: transparent; */
    overflow: auto;
   
}

/* .module-border-wrap {
    max-width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 3px;
  }
  
  .module {
    background: #222;
    color: white;
    padding: 2rem;
  } */