.catCard {
    border-style: solid;
    border-color: black;
    /* font-weight: bold; */
    background-color: rgb(51, 25, 197);
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.catBox {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.catCol {
    padding: 1px;
}