.answerDiv {
    font-size: 35px;
}

.hidden {
    display: none;
}

.answerContainer {
    text-align: center;
}

.modalBtn {
    background-color: rgb(51, 25, 197);
    border: none;
}

.modalBtn:hover {
    background-color: gold;
    border: none;
}

.modal-title {
    justify-content: center;
    font-size: 35px;
}

.m-2 {
    font-size: 25px;
}