.questionCard {
    height: 6em;
    width: 7em;
    border-style: solid;
}

.btn-link {
    padding: 15px;
    background: transparent;
    width: 100%;
    height: 100%;
    border-color: transparent;
    font-size: 1em;
    font-weight: bold;
}

.btn-link:hover {
    color: white;
}

