.questionCard {
    border-style: solid;
    border-color: black;
    background-color: rgb(221, 111, 115);
}

.btn-link {
    background-color:red;
    color: gold;
    font-size: 20px;
    font-weight: bold;
}

.cardCol {
    padding: 0;
}

.btn-link:hover {
    color: white;
}

