.questionCard {
    height: 6em;
    width: 7em;
    border-style: solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    /* color: transparent; */
}

.btn-link {
    padding: 15px;
    background: none;
    width: 100%;
    height: 100%;
    border: solid;
    border-color: transparent;
    /* border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
    font-size: 1em;
    font-weight: bold;
}

.btn-link:hover {
    color: white;
}



