
.boardContainer {
    margin: 0;
    display: flex;
    width: fit-content;
    padding-right: 15px;
    /* align-items: baseline; */
    /* width: 110vw; */
    background-image: linear-gradient(#ffd89b, #19547b);
    border-style: solid;
    border-color: red;
}

.col {
    padding-right: 5px;
}

