
.boardContainer {
    display: flex;
    width: fit-content;
    
    /* align-items: baseline; */
    /* width: 110vw; */
    background-image: linear-gradient(#ffd89b, #19547b);
    border-style: solid;
    border-color: red;
}

.rowAndColumn {
    position: absolute;
    right: 30px;
}

.host {
    justify-content: left;
}
